*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #1C1C1C;
}

#main-el{
    background-color: #F4F4F4;
    width: 35%;
    height: 90vh;
    margin: 0;
    top: 50%;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#first-page{
    background-color: #6943FF;
    height: 33%;
    text-align: center;
    padding-top: 15px;
    color: white;
    padding-bottom: 30px;
}

#title{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

#value-div{
    height: 75px;
    border: 1px solid #9F80FF;
    width: 100px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

#input-el{
    width: 100%;
    height: 100%;
    background-color: #6943FF;
    color: white;
    border: none;
    font-size: 3rem;
    box-sizing: border-box;
    text-align: center;
    outline: none;
}

#convert-btn{
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;
}

#convert-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#second-page{
    align-items: center;
    text-align: center;
}

#second-page div {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 80px;
    border-radius: 5px;
    color: #5A537B;
    font-size: 0.7rem;
    padding-top: 10px;
    box-sizing: border-box;
}

#second-page div p{
    margin-top: 10px;
    color: #4E4E4E;
    font-size: 0.9rem;
}